[Unit]
Description=handlealexa server for jessie
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c '/home/pi/src/house/handlealexa.py >> /var/log/house/handlealexa.log 2>&1'
Restart=always

[Install]
WantedBy=multi-user.target

