[Unit]
Description= control Iris devices for jessie
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c '/home/pi/src/house/iriscontrol.py >> /var/log/house/iriscontrol.log 2>&1'
Restart=always

[Install]
WantedBy=multi-user.target

